/*
.container{
    border: 5px solid green;
}

.row{
    border: 5px solid blue;
}

.my-col{
    border: 5px solid red;
} */

/* Body */

body {
    width: 100vw;
    height: 100vh;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    color: white;
    /* Source of the following picture is https://pxhere.com/ (URL https://pxhere.com/en/photo/115088) */
    background: url("../images/bg-img/background-img-crop-mobl.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* /.Body */

/* Heading */

/* Vertically aligning block-level element with unknown height | source: 'CSS-Tricks' (URL: https://css-tricks.com/centering-css-complete-guide/) */
header {
    height: 20vh;
    position:relative;
}

.heading-div {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-family: 'orbitron', 'sans-serif';
    font-size: 2em;
}

h1, .h1 {
    margin: 0;
}

/* /.Heading */

/* Article */

article {
    height: calc(80vh - 1.5em);
}

/* /.Article */

/* Footer */

footer {
    height: 1.5em;
    font-size: 0.75em;
}

footer p {
    margin: 0;
    font-weight: 300;
}

/* /.Footer */

/* Player details */

h2 {
    font-size: 1.5em;
    margin: 0;
}

/* /.Player details */

/* Game details */

.game-detail-mobile {
    margin: 0.25em 0;
}

span {
    font-size: 1.15em;
}

p i {
    padding: 2px;
}

#flips {
    text-align: center;
}

#difficulty {
    text-align: right;
}


/* /.Game details */

/* Action items */

/* Vertically aligning block-level element with unknown height | source: 'CSS-Tricks' (URL: https://css-tricks.com/centering-css-complete-guide/) */
.action-items-container {
    position:relative;
}

ul {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

li {
    line-height: 1.25em;
}

li a i {
    color: white;
    font-size: 1.25em; 
}

/* /.Action items */

div .card {
    padding: 2px;
}

.cards {
    max-width: 33.33vw;
    max-height: 14vh;
}

.card-front {
    background-color: black;
}


/* Media queries */

@media only screen and (min-width: 350px) {
    body {
        /* Source of the following picture is https://pxhere.com/ (URL https://pxhere.com/en/photo/115088) */
        background: url("../images/bg-img/background-img-crop-mobl-tabl.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.75em;
    }
    span {
        font-size: 1.35em;
    }
    li {
        line-height: 1.5em;
    }
    li a i {
        font-size: 1.5em; 
    }
    
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4.5em;
    } 
    h2 {
        font-size: 2.5em;
    }
    .game-detail-mobile {
        margin: 0.5em 0;
    }
    span {
        font-size: 1.8em;
    }  
    #flips {
        text-align: right;
    }
    li {
        line-height: 2.25em;
    }
    li a i {
        font-size: 2.25em;
        margin-right: 0.25em; 
    }
    footer {
        font-size: 1em;
    }
}

@media only screen and (min-width: 992px) {
    body {
        /* Source of the following picture is https://pxhere.com/ (URL https://pxhere.com/en/photo/115088) */
        background: url("../images/bg-img/background-img-crop-desk.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .info-container-desktop {
        margin-top: 3em;
    }
    h2 {
        font-size: 2.75em;
        padding-bottom: 0.5em;
    }
    .game-detail-container-desktop {
        margin: 1em 0;
    }
    .game-detail-desktop {
        padding: 0;
    }
    .action-items-container {
        position: static;
        padding: 1.25em 0;
    }
    ul {
        position: static;
        top: 0;
        transform: translateY(0);
    }
    li {
        line-height: 2.25em;
    }
    li a i {
        font-size: 2.25em;
        margin-right: 0.25em; 
    }
}

@media only screen and (min-width: 2000px) {
    h1 {
        font-size: 6em;
    }
    .info-container-desktop {
        margin-top: 6em;
    }
    h2 {
        font-size: 3.5em;
    }
    .game-detail-container-desktop {
        margin: 2em 0;
    }
    span {
        font-size: 2.25em;
    }
    .action-items-container {
        padding: 3em 0;
    }
    li {
        line-height: 2.75em;
    }
    li a i {
        font-size: 2.75em;
    }
}

/* /.Media queries */