/*
.container{
    border: 5px solid green;
}

.row{
    border: 5px solid blue;
}

.my-col{
    border: 5px solid red;
} */

/* Body */

body {
    width: 100vw;
    height: 100vh;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    color: white;
    /* Source of the following picture is https://pxhere.com/ (URL https://pxhere.com/en/photo/115088) */
    background: url("../images/bg-img/background-img-crop-mobl.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* /.Body */

/* Heading */

/* Vertically aligning block-level element with unknown height | source: 'CSS-Tricks' (URL: https://css-tricks.com/centering-css-complete-guide/) */
header {
    height: 18vh;
    position:relative;
}

.heading-div {
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    font-family: 'orbitron', 'sans-serif';
    font-size: 2em;
}

h1, .h1 {
    margin: 0;
}

/* Glowing text | source: 'Free Frontend' (URL: https://freefrontend.com/css-glow-text-effects/) */
.neon {
    color: #fff;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #44525b, 0 0 80px #284558, 0 0 90px #7986b0, 0 0 100px #000000, 0 0 150px #382929;
}

/* /.Heading */

/* Article */

article {
    height: calc(82vh - 1.5em);
}

/* /.Article */

/* Footer */

footer {
    height: 1.5em;
    font-size: 0.75em;
}

footer p {
    margin: 2px 0;
    font-weight: 300;
}

/* /.Footer */

/* Player details */

h2 {
    font-size: 1.5em;
    margin: 0;
}

/* /.Player details */

/* Game details */

.game-detail-mobile {
    margin: 0.25em 0;
}

span {
    font-size: 1.15em;
}

p i {
    padding: 2px;
}

#flips {
    text-align: center;
}

.difficulty-div {
    padding-left: 0; 
}

#difficulty {
    text-align: right;
}

.difficulty {
    font-size: 0.98em;
}


/* /.Game details */

/* Action items */

/* Vertically aligning block-level element with unknown height | source: 'CSS-Tricks' (URL: https://css-tricks.com/centering-css-complete-guide/) */
.action-items-container {
    position:relative;
    padding-right: 0;
}

ul {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

li {
    line-height: 1.25em;
}

li a i {
    color: white;
    font-size: 1.25em; 
}



/* /.Action items */

/* Cards */

.card-container{
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.row div .card {
    padding: 5px;
    background: none;
    border: none;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 3s;
    -o-transition: transform 3s;
    -webkit-transition: -webkit-transform 3s;
}

.cards {
    max-width: 33.33vw;
    max-height: 14vh;
    vertical-align: middle;
    padding: 10px;
    border: 1px solid rgba(253, 253, 253, 0.8);
    border-radius: .25em;
    background-color: rgb(10, 22, 30); 
    cursor: pointer;
    transition: transform .75s;
}

.card-alignment-parent {
    position: relative;
    height: 14vh;
    margin: 5px 0;
} 

.card-alignment-child {
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - 10px);
    height: 100%;
} 

/* Flip card */
.card.flip .cards {
    transform: rotateY(180deg);
}

/* Selected card */
.row div .cards.selected {
    outline: none;
    border-color: #f8f9fa;
    box-shadow: 0 0 5px #f8f9fa;
}

/* /.Cards */

/* Modal start page: first */

.modal .modal-content {
    background-color: rgb(10, 22, 30); 
    border: 1px solid rgba(253, 253, 253, 0.8);
    box-shadow: 0 0 5px #f8f9fa;
}

.modal-content span.cosmic-match {
    font-family: 'orbitron', 'sans-serif';
    font-size: 1.5em;
}

.modal-content input {
    margin-bottom: 1.5em;
}

.modal-content .btn-play {
    border: 1px solid rgba(253, 253, 253, 0.8);
}

.btn-play:hover {
    color: #fff;    
    box-shadow: 0 0 5px #f8f9fa;
}

/* /.Modal start page: first */

/* Modal start page: repeat */

.other-player {
    color: white;
    text-decoration: underline;
}

.other-player, .other-player .player {
    font-size: 12px;
}

/* /.Modal start page: repeat */

/* Media queries */

@media only screen and (min-width: 350px) {
    body {
        /* Source of the following picture is https://pxhere.com/ (URL https://pxhere.com/en/photo/115088) */
        background: url("../images/bg-img/background-img-crop-mobl-tabl.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.75em;
    }
    span {
        font-size: 1.35em;
    }
    li {
        line-height: 1.5em;
    }
    li a i {
        font-size: 1.5em; 
    }
    .difficulty {
        font-size: 1.22em;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4.5em;
    } 
    article {
        height: calc(82vh - 2em);
    }
    footer {
        height: 2em;
        font-size: 1em;
    }
    h2 {
        font-size: 2.5em;
    }
    .game-detail-mobile {
        margin: 0.5em 0;
    }
    span {
        font-size: 1.8em;
    }  
    .difficulty {
        font-size: 1.8em;
    }
    #flips {
        text-align: right;
    }
    li {
        line-height: 2.25em;
    }
    li a i {
        font-size: 2.25em;
        margin-right: 0.25em; 
    }

}

@media only screen and (min-width: 992px) {
    body {
        /* Source of the following picture is https://pxhere.com/ (URL https://pxhere.com/en/photo/115088) */
        background: url("../images/bg-img/background-img-crop-desk.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    header {
        height: 25vh;
    }
    h1 {
        font-size: 7.5vh;
    } 
    article {
        height: 71.5vh;
    }
    footer {
        height: 3.5vh;
        font-size: 1.75vh;
    }
    .info-container-desktop {
        margin-top: 6.5vh;
    }
    h2 {
        font-size: 5.5vh;
        padding-bottom: 1vh;
    }
    .game-detail-container-desktop {
        margin: 1.5vh 0;
    }
    .game-detail-desktop {
        padding: 0;
    }
    span {
        font-size: 3.5vh;
    } 
    .difficulty {
        font-size: 3.5vh;
    }
    .action-items-container {
        position: static;
        padding: 2vh 0;
    }
    ul {
        position: static;
        top: 0;
        transform: translateY(0);
    }
    li {
        line-height: 4vh;
    }
    li a i {
        font-size: 4vh;
        margin-right: 0.25em; 
    }
}

/* Combining several conditions in same media query | source: 'MDN web docs' (URL: https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries) */
@media only screen and (min-width: 992px) and (max-height: 749px) {
    .info-container-desktop {
        padding-left: 10vw;
    }
    .card-container {
        padding-right: 10vw;
    }
    .cards {
        max-height: 17.5vh;
    }
    .card-alignment-parent {
        height: 17.5vh;
    } 
}

@media only screen and (min-width: 992px) and (min-height: 750px) and (max-height: 849px) {
    .info-container-desktop {
        padding-left: 5vw;
    }
    .card-container {
        padding-right: 5vw;
    }
}

/* /.Media queries */